@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*   why section */

.why {
    padding: 2rem;
    color: rgb(78, 78, 161);
}

.why-h{
    padding-top: 2rem;
}

.why-p {
    padding-top: 1rem;
}

.why-p1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/*    caurosel section    */



img {
    max-height: 40vh;
    max-width: auto;
    min-width: auto;
    border-radius: 8px;
}

.img-s {
    overflow:hidden ;
}


/*    learn section   */

.learn-section {
    background-color: rgb(38, 38, 211);
    min-height: 60vh;
    margin-top: 5rem;
    justify-content: space-around;
}

.l-h {
    padding: 3rem;
}

span {
    color: rgb(247, 216, 39);
}

li {
    padding: 1rem;
}

.learn-img {
    margin-right: 5rem;
    margin-top: 2rem;
}

.l-img {
    max-height: 50vh;
    width: auto;
}



/*    Lity section  */

.lity-section {
    display: flex;
    justify-content: space-around;
}

.lity-logo {
    padding: 1rem;
    margin-bottom: 5rem;
}

.careerlity {
    padding-right: 15rem;
    padding-left: 8rem;
}

.lity-p {
    padding-bottom: 5rem ;
}


.lity-img {
    margin-right: 5rem;
    max-height: 60vh;
    max-width: 50vw;
}

.p-btn {
    background-color:  #6e0b9c;
    margin-left: 20px;
    border-radius: 10px;
    width: 6rem;
    padding: 10px;
    color: #fff;
    animation: zoom-in-zoom-out 10s ease-out infinite; 
}

/* @keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.1, 1.05);
    }
    100% {
      transform: scale(1, 1);
    }
  } */

  .p-btn:hover {
    background-color: rgb(219, 49, 83);
  }




/*  image caurosel */


.pic-ctn {
    width: 100vw;
    height: 200px;
  }
  
  @keyframes display {
    0% {
      transform: translateX(200px);
      opacity: 0;
    }
    10% {
      transform: translateX(0);
      opacity: 1;
    }
    20% {
      transform: translateX(0);
      opacity: 1;
    }
    30% {
      transform: translateX(-200px);
      opacity: 0;
    }
    100% {
      transform: translateX(-200px);
      opacity: 0;
    }
  }
  
  .pic-ctn {
    position: relative;
    width: 100vw;
    height: 300px;
    margin-top: 15vh;
  }
  
  .pic-ctn > img {
    position: absolute;
    top: 0;
    left: calc(50% - 100px);
    opacity: 0;
    animation: display 10s infinite;
  }
  
  img:nth-child(2) {
    animation-delay: 2s;
  }
  img:nth-child(3) {
    animation-delay: 4s;
  }
  img:nth-child(4) {
    animation-delay: 6s;
  }
  img:nth-child(5) {
    animation-delay: 8s;
  }


  /*    card section    */


  .card-section {
    background-image: linear-gradient(to right bottom, rgb(255, 238, 0), #ffd51b);
    min-height: 50vh;
    justify-content: center;
    align-items: center;
    margin: 0;
    display: flex;
  }

  .card {
    max-width:100vw;
    min-height: 28vh;
    margin: 2rem;
    color: #fff;
    animation: zoom-in-zoom-out 10s ease-out infinite; 
    
  }

  .card p, h5{
    padding: 0.5em;
  }
  
  #card {
    background-color: #1a1919;
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
  }

  .bro {
    color: #fff;
  }

  #btn {
    border-radius: 10px;
    color: #fff;
    background-color: rgb(39, 43, 247);
    padding: 0.45rem;
    border: none;
  }

  .card a {
    margin: auto;
  }

  @keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.1, 1.05);
    }
    100% {
      transform: scale(1, 1);
    }
  }






    /*       media query       */

    @media (min-width: 992px) {
        img {
            max-height: 30vh;
        }
    
        .learn-section {
            display: flex;
        }
      }
    
      @media (max-width: 992px) {
        .learn-section {
            min-height: 120vh;
            max-height: auto;
            overflow: hidden;
        }
    
        .learn-img {
            margin: 3rem;
    
        }

        .lity-section {
            display: block;
        }

        .lity-logo {
            padding: 3rem;
        }

        .careerlity {
            padding: 5rem;
        }

        .career-img {
            margin-left: 6rem;
        }
      }
    
      @media (max-width: 500px) {
        .learn-section {
            min-height: 150vh;
        }

        .careerlity {
            padding: 3rem;
        }
      }

      @media (max-width: 375px) {
        .career-img {
            margin-left: 4rem;
        }
      }